In [34]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns
sns.set()
from scipy import optimize
from ipywidgets import *
from IPython.display import SVG
from sklearn import datasets
%matplotlib inline

In [35]:
AND = pd.DataFrame({'x1':(0,0,1,1),'x2':(0,1,0,1),'y':(0,0,0,1)})
AND

   x1  x2  y
0   0   0  0
1   0   1  0
2   1   0  0
3   1   1  1

we need to initialize weight t small, random values (can be positive and ngative)

In [36]:
w = np.random.randn(3)*1e-4

In [37]:
w

array([-3.29422895e-05,  7.78196659e-05,  1.33471097e-04])

In [38]:
weights = w

In [39]:
inputs = AND[['x1','x2']]
targets = AND['y']
targets

0    0
1    0
2    0
3    1
Name: y, dtype: int64

In [40]:
inputs

   x1  x2
0   0   0
1   0   1
2   1   0
3   1   1

In [41]:
weights

array([-3.29422895e-05,  7.78196659e-05,  1.33471097e-04])

In [42]:
g = lambda inputs,weights : np.where(np.dot(inputs,weights)>0,1,0)

In [43]:
g(np.c_[inputs, -np.ones((len(inputs),1))],weights)

array([0, 0, 0, 0])

In [44]:
 np.c_[inputs, -np.ones((len(inputs),1))]

array([[ 0.,  0., -1.],
       [ 0.,  1., -1.],
       [ 1.,  0., -1.],
       [ 1.,  1., -1.]])

finally, a target function that iterates the learning algorithm, returning the adapted weights.

In [45]:
def train(inputs, targets, weights, eta, n_iterations):
    # add the inputs that match the bias node
    inputs = np.c_[inputs, -np.ones((len(inputs),1))]
    
    for n in range(n_iterations):
        activations = g(inputs, weights)
        print(n, "activations", activations)
        weights -= eta*np.dot(np.transpose(inputs), activations - targets)
        print(n, "weights",weights)
    return weights

let's test it first on the AND function.

In [46]:
inputs = AND[['x1','x2']]
targets = AND['y']
w = train(inputs,targets, w, 0.1,20)
targets

0 activations [0 0 0 0]
0 weights [ 0.09996706  0.10007782 -0.09986653]
1 activations [1 1 1 1]
1 weights [-3.29422895e-05  7.78196659e-05  2.00133471e-01]
2 activations [0 0 0 0]
2 weights [0.09996706 0.10007782 0.10013347]
3 activations [0 0 0 1]
3 weights [0.09996706 0.10007782 0.10013347]
4 activations [0 0 0 1]
4 weights [0.09996706 0.10007782 0.10013347]
5 activations [0 0 0 1]
5 weights [0.09996706 0.10007782 0.10013347]
6 activations [0 0 0 1]
6 weights [0.09996706 0.10007782 0.10013347]
7 activations [0 0 0 1]
7 weights [0.09996706 0.10007782 0.10013347]
8 activations [0 0 0 1]
8 weights [0.09996706 0.10007782 0.10013347]
9 activations [0 0 0 1]
9 weights [0.09996706 0.10007782 0.10013347]
10 activations [0 0 0 1]
10 weights [0.09996706 0.10007782 0.10013347]
11 activations [0 0 0 1]
11 weights [0.09996706 0.10007782 0.10013347]
12 activations [0 0 0 1]
12 weights [0.09996706 0.10007782 0.10013347]
13 activations [0 0 0 1]
13 weights [0.09996706 0.10007782 0.10013347]
14 activations [0 0 0 1]
14 weights [0.09996706 0.10007782 0.10013347]
15 activations [0 0 0 1]
15 weights [0.09996706 0.10007782 0.10013347]
16 activations [0 0 0 1]
16 weights [0.09996706 0.10007782 0.10013347]
17 activations [0 0 0 1]
17 weights [0.09996706 0.10007782 0.10013347]
18 activations [0 0 0 1]
18 weights [0.09996706 0.10007782 0.10013347]
19 activations [0 0 0 1]
19 weights [0.09996706 0.10007782 0.10013347]

0    0
1    0
2    0
3    1
Name: y, dtype: int64

checking the performance

In [47]:
g(np.c_[inputs, -np.ones((len(inputs),1))],w)

array([0, 0, 0, 1])

In [48]:
OR = pd.DataFrame({'x1':(0,0,1,1),'x2':(0,1,0,1),'y':(0,1,1,1)})
OR

   x1  x2  y
0   0   0  0
1   0   1  1
2   1   0  1
3   1   1  1

In [49]:
w = np.random.randn(3)*1e-4
w

array([ 9.25040151e-05, -2.25266202e-04, -7.97203650e-05])

In [50]:
inputs = OR[['x1','x2']]
targets = OR['y']
w = train(inputs,targets,w,0.25,20)

0 activations [1 0 1 0]
0 weights [ 0.2500925   0.49977473 -0.25007972]
1 activations [1 1 1 1]
1 weights [ 2.50092504e-01  4.99774734e-01 -7.97203650e-05]
2 activations [1 1 1 1]
2 weights [0.2500925  0.49977473 0.24992028]
3 activations [0 1 1 1]
3 weights [0.2500925  0.49977473 0.24992028]
4 activations [0 1 1 1]
4 weights [0.2500925  0.49977473 0.24992028]
5 activations [0 1 1 1]
5 weights [0.2500925  0.49977473 0.24992028]
6 activations [0 1 1 1]
6 weights [0.2500925  0.49977473 0.24992028]
7 activations [0 1 1 1]
7 weights [0.2500925  0.49977473 0.24992028]
8 activations [0 1 1 1]
8 weights [0.2500925  0.49977473 0.24992028]
9 activations [0 1 1 1]
9 weights [0.2500925  0.49977473 0.24992028]
10 activations [0 1 1 1]
10 weights [0.2500925  0.49977473 0.24992028]
11 activations [0 1 1 1]
11 weights [0.2500925  0.49977473 0.24992028]
12 activations [0 1 1 1]
12 weights [0.2500925  0.49977473 0.24992028]
13 activations [0 1 1 1]
13 weights [0.2500925  0.49977473 0.24992028]
14 activations [0 1 1 1]
14 weights [0.2500925  0.49977473 0.24992028]
15 activations [0 1 1 1]
15 weights [0.2500925  0.49977473 0.24992028]
16 activations [0 1 1 1]
16 weights [0.2500925  0.49977473 0.24992028]
17 activations [0 1 1 1]
17 weights [0.2500925  0.49977473 0.24992028]
18 activations [0 1 1 1]
18 weights [0.2500925  0.49977473 0.24992028]
19 activations [0 1 1 1]
19 weights [0.2500925  0.49977473 0.24992028]

In [51]:
g(np.c_[inputs, -np.ones((len(inputs),1))],w)

array([0, 1, 1, 1])

In [52]:
XOR = pd.DataFrame({'x1':(0,0,1,1),'x2':(0,1,0,1),'y':(0,1,1,0)})
XOR

   x1  x2  y
0   0   0  0
1   0   1  1
2   1   0  1
3   1   1  0

In [53]:
w = np.random.randn(3)*1e-4
w

array([1.19923418e-04, 8.42911529e-05, 1.01941069e-04])

In [54]:
inputs = XOR[['x1','x2']]
targets = XOR['y']
w = train(inputs,targets,w,1,10)

0 activations [0 0 1 1]
0 weights [-9.99880077e-01  8.42911529e-05  1.01941069e-04]
1 activations [0 0 0 0]
1 weights [ 1.19923418e-04  1.00008429e+00 -1.99989806e+00]
2 activations [1 1 1 1]
2 weights [-9.99880077e-01  8.42911529e-05  1.01941069e-04]
3 activations [0 0 0 0]
3 weights [ 1.19923418e-04  1.00008429e+00 -1.99989806e+00]
4 activations [1 1 1 1]
4 weights [-9.99880077e-01  8.42911529e-05  1.01941069e-04]
5 activations [0 0 0 0]
5 weights [ 1.19923418e-04  1.00008429e+00 -1.99989806e+00]
6 activations [1 1 1 1]
6 weights [-9.99880077e-01  8.42911529e-05  1.01941069e-04]
7 activations [0 0 0 0]
7 weights [ 1.19923418e-04  1.00008429e+00 -1.99989806e+00]
8 activations [1 1 1 1]
8 weights [-9.99880077e-01  8.42911529e-05  1.01941069e-04]
9 activations [0 0 0 0]
9 weights [ 1.19923418e-04  1.00008429e+00 -1.99989806e+00]

In [55]:
g(np.c_[inputs, -np.ones((len(inputs),1))],w)

array([1, 1, 1, 1])

In [56]:
np.c_[inputs, -np.ones((len(inputs),1))]

array([[ 0.,  0., -1.],
       [ 0.,  1., -1.],
       [ 1.,  0., -1.],
       [ 1.,  1., -1.]])